#main-title {
    color: blue;
}
h1{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}
P{
    color: white;
}
body {
    text-align: center;
    
    background-image: url("./assests/backgroundimage.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

img {
    text-align: center;
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

ul {
    list-style: none;
    padding: 0;
}
